* {
    border: 3px solid darkgreen;
    border-radius: 3px ;
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#question  { 
    flex: 30%;

    
}
#showcorrect {
    flex: 10%;

}

.hideitem {
    display: none;

}

.answerlistshow {
    flex: 60%;
    display: flex;
    flex-direction: column;
    list-style: lower-latin;

}


